table{
    border-collapse: collapse;
}
li a{
    color: green;
    text-decoration: none;
}
a:visited{
    color: red;
}
h4{
    color: blue;
}
main section{
    margin: 10vh 0 2vh 0;
}
th:hover{
    font-size: 1.2em;
}
body{
    background-color: beige;
}
